<!DOCTYPE html>
<html>

<head>
  <!-- MATA DATA -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- BOOTSTRAP STYLES -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!-- FETCH STYLES -->
  <link rel="stylesheet" href="/assets/flights.css" />

  <!-- FETCH FAVICON -->
  <link rel="shortcut icon" type="image/png" href="assets/brand/fetch-favicon.png" />

  <title>Flight Fetch | Flights</title>
</head>

<body>
  <!-- HEADER -->
  <header role="header" class="fixed-top">
    <nav>
      <div>
        <div class="container d-flex flex-row p-3 justify-content-between align-items-center">
          <!-- BRAND -->
          <div>
            <a href="/"><img class="brand" src="/assets/brand/fetch-logo.png" alt="brand" /></a>
          </div>
          <!-- NAV-LINKS -->
          <div>
            <a class="mr-3" href="/">Home</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- MAIN-->
  <main role="main" class="mb-5">
    
    <!-- main header -->
    <header class="main-header" id="watchlist">
     <a href="#"><small>Add flights to watch list</small></a>    
    </header>
    <!-- main header end -->
    
    <!-- section -->
    <section id="deck" class="container">

      <!-- card generator -->
      <%for (let i=0; i<flights.length; i++) {%>

        <!-- cards outermost container -->
        <div class="flight">
          <!-- cards inner container -->
          <div class="departNreturn-wrapper">

            <!-- card one (depart) -->
            <div class="depart">

              <div class="airline">
                  <img src="<%= flights[i].agentImgUrl %>" alt="Agent_img" />
              </div>

              <div class="flight-info">

                <div>
                  <small>From</small>
                  <p><%=flights[i].origin%></p>
                  <small>Destination</small>
                  <p><%=flights[i].destination%></p>
                </div>

                <div>
                  <small>Departure Date</small>
                  <p><%=flights[i].departure.split('T')[0]%></p>
                  <small>Departure Time</small>
                  <p><%=flights[i].departure.split('T')[1]%></p>
                </div>

                <div>
                  <small>Arrival Date</small>
                  <p><%=flights[i].arrival.split('T')[0]%></p>
                  <small>Arrival Time</small>
                  <p><%=flights[i].arrival.split('T')[1]%></p>
                </div>                      

              </div>

            </div> 
            <!-- card one end (depart) -->
          </div> 
          <!-- cards inner container end -->

          <!-- card price -->
          <a  class="price-view" href="#" alt="go to price">
            <div>
              <p><span class="dollas-sign">$ </span> <%=flights[i].price%></p>
            </div>
          </a>
          <!-- card price end -->

        </div>
        <!--  single card outermost container end -->

        <!-- multiple cards outermost container -->
        <div class="flight">
          <!-- multiple cards inner container -->
          <div class="departNreturn-wrapper">

            <!-- card one (depart) -->
            <div class="depart">

              <div class="airline">
                  <img src="<%= flights[i].agentImgUrl %>" alt="Agent_img" />
              </div>

              <div class="flight-info">

                <div>
                  <small>From</small>
                  <p><%=flights[i].origin%></p>
                  <small>Destination</small>
                  <p><%=flights[i].destination%></p>
                </div>

                <div>
                  <small>Departure Date</small>
                  <p><%=flights[i].departure.split('T')[0]%></p>
                  <small>Departure Time</small>
                  <p><%=flights[i].departure.split('T')[1]%></p>
                </div>

                <div>
                  <small>Arrival Date</small>
                  <p><%=flights[i].arrival.split('T')[0]%></p>
                  <small>Arrival Time</small>
                  <p><%=flights[i].arrival.split('T')[1]%></p>
                </div>                      

              </div>

            </div> 
            <!-- card one end (depart) -->

            <hr>

            <!-- card two (return) -->
            <div class="return">

              <div class="airline">
                  <img src="<%= flights[i].agentImgUrl %>" alt="Agent_img" />
              </div>

              <div class="flight-info">

                <div>
                  <small>Origin</small>
                  <p><%=flights[i].origin%></p>
                  <small>Destination</small>
                  <p><%=flights[i].destination%></p>
                </div>                      

                <div>
                  <small>Departure Date</small>
                  <p><%=flights[i].departure.split('T')[0]%></p>
                  <small>Departure Time</small>
                  <p><%=flights[i].departure.split('T')[1]%></p>
                </div>

                <div>
                  <small>Arrival Date</small>
                  <p><%=flights[i].arrival.split('T')[0]%></p>
                  <small>Arrival Time</small>
                  <p><%=flights[i].arrival.split('T')[1]%></p>
                </div>

              </div>

            </div> 
            <!-- card two end (return) -->

          </div> 
          <!-- cards inner container end -->

          <!-- card price -->
          <a  class="price-view" href="#" alt="got to price">
            <div>
              <p class="lead"><span class="dollas-sign">$ </span> <%=flights[i].price%></p>
            </div>
          </a>
          <!-- card price end -->

        </div>
        <!-- multiple cards outermost container end -->

      <%}%>
      
    </section>
    <!-- section end -->
          
  </main>

  <!-- BOOTSTRAP SCRIPT -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

<footer role="footer">
  <div class="footer-body container">
    <div class="v-con">
      <ul>
        <li class="about flex-2">
          <h3>
            <img class="footer-brand" src="/assets/brand/fetch-logo.png" alt="" />
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
            aspernatur eaque laborum voluptatibus amet. adipisicing elit.
          </p>
        </li>
        <li class="flex">
          <h3>Github</h3>
          <a class="contact-link" href="">Alejandro</a>
          <a class="contact-link" href="">Clarance</a>
          <a class="contact-link" href="">Seth</a>
        </li>
        <li class="flex">
          <h3>LikedIn</h3>
          <a class="contact-link" href="">Alejandro</a>
          <a class="contact-link" href="">Clarance</a>
          <a class="contact-link" href="">Seth</a>
        </li>
        <li class="flex">
          <h3>Getting Started</h3>
          <a class="contact-link" href="">Support</a>
          <a class="contact-link" href="">How to!</a>
          <a class="contact-link" href="">Doc</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</html>