<!DOCTYPE html>
<html>
  <head>
    <!-- MATA DATA -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- BOOTSTRAP STYLES -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FETCH STYLES -->
    <link rel="stylesheet" href="/assets/watchlist.css" />

    <!-- FETCH FAVICON -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/brand/fetch-favicon.png"
    />
    <!-- Google Charts -->
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>

    <title>Flight Fetch | Watchlist</title>
  </head>

  <body>
    <!-- HEADER -->
    <header role="header" class="fixed-top">
      <nav>
        <div>
          <div
            class="d-flex flex-row p-3 justify-content-between align-items-center"
          >
            <!-- BRAND -->
            <div>
              <a href="/"
                ><img
                  class="brand"
                  src="/assets/brand/fetch-logo.png"
                  alt="brand"
              /></a>
            </div>
            <!-- NAV-LINKS -->
            <div>
              <a class="mr-3" href="/">Home</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Main -->

    <main class="container-fluid fold">
      <!-- ADD TO WATCHLIST -->
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div id="title" class="container-fluid">
              <h1 class="display-4">myFlights</h1>
              <p>
                This watchlist is designed to help you make the best purchase
                possible. <br />
                Keep track of up ticket prices over time and compare dates by
                adding up to ten searches to your watchlist.
              </p>
            </div>
          </div>
          <!-- FLIGHT CONTAINER -->
          <div class="row">
            <section id="deck" class="container-fluid">
              <% for (let index in flights) { %>
                <!-- CARD START -->
                <div class="card-x">
                  <div class="watch-card">
                    <div class="tickect-section">
                      <div class="top">
                        <small>From</small>
                        <p><%= flights[index].origin %></p>
                      </div>
                      <div class="graph-one">
                        <small>Average and Cheapest</small>
                        <div
                          id="barchart-<%= index %>"
                          style="width:30em; height:10em"
                        ></div>
                      </div>
                    </div>
                    <div class="tickect-section">
                      <div class="top">
                        <small>To</small>
                        <p><%= flights[index].destination %></p>
                      </div>
                      <div class="graph-two">
                        <small>Cheapest Price By Departure Date</small>
                        <div id="columnchart-<%= index %>" style="width:30em; height:10em"></div>
                      </div>
                    </div>
                    <div class="tickect-section">
                      <div class="top">
                        <!-- <small>On</small>
                        <p>11/11/1999</p> -->
                      </div>
                      <div class="links">
                        <!-- <small>Links</small>
                        <a href="">Cheapest</a>
                        <a href="">Fastest</a>
                        <a href="">All</a> -->
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
              <!-- FLIGHT CARD END -->
            </section>
          </div>
        </div>
      </div>
    </main>

    <script>
      let variables = {}
    </script>

    <% for (let index in flights) {%>
      <script type="text/javascript">
        variables[<%= index %>] = {}
        variables[<%= index %>].flight = <%- JSON.stringify(flights[index]) %>;
        variables[<%= index %>].minPrice = 10000000000;
        variables[<%= index %>].sum = 0
        for (let key in variables[<%= index %>].flight.dates) {
          variables[<%= index %>].price = variables[<%= index %>].flight.dates[key];
          if (variables[<%= index %>].price < variables[<%= index %>].minPrice) {
            variables[<%= index %>].minPrice = variables[<%= index %>].price;
          }
          variables[<%= index %>].sum += variables[<%= index %>].price;
        }
        variables[<%= index %>].avg = variables[<%= index %>].sum / Object.keys(variables[<%= index %>].flight.dates).length

        google.charts.load("current", {
          packages: ["corechart"]
        });
        // graph one
        google.charts.setOnLoadCallback(comparePrice);

        function comparePrice() {
          variables[<%= index %>].data = google.visualization.arrayToDataTable([
            ["Flight", "Price", {
              role: "style"
            }],
            ["Cheapest", variables[<%= index %>].minPrice, "black"],
            ["Average", variables[<%= index %>].avg, "black"]
          ]);

          variables[<%= index %>].view = new google.visualization.DataView(variables[<%= index %>].data);
          variables[<%= index %>].view.setColumns([
            0,
            1,
            {
              calc: "stringify",
              sourceColumn: 1,
              type: "string",
              role: "annotation"
            },
            2
          ]);

          variables[<%= index %>].options = {
            title: "Prices",
            bar: {
              groupWidth: "95%"
            },
            legend: {
              position: "none"
            },
            fontSize: 12,
            bold: true
          };
          variables[<%= index %>].chart = new google.visualization.BarChart(
            document.getElementById("barchart-<%= index %>")
          );
          variables[<%= index %>].chart.draw(variables[<%= index %>].view, variables[<%= index %>].options);
        }

        // graph two
        google.charts.setOnLoadCallback(compareTime);

        function compareTime() {
          variables[<%= index %>].dataRough = [
            ["Element", "Density", {
              role: "style"
            }]
          ];

          for (let date in variables[<%= index %>].flight.dates) {
            variables[<%= index %>].dataRough.push([date, variables[<%= index %>].flight.dates[date], 'green'])
          }
          variables[<%= index %>].data = google.visualization.arrayToDataTable(variables[<%= index %>].dataRough);

          variables[<%= index %>].view = new google.visualization.DataView(variables[<%= index %>].data);
          variables[<%= index %>].view.setColumns([0, 1,
            {
              calc: "stringify",
              sourceColumn: 1,
              type: "string",
              role: "annotation"
            },
            2
          ]);

          variables[<%= index %>].options = {
            width: 600,
            height: 160,
            bar: {
              groupWidth: "95%"
            },
            legend: {
              position: "none"
            },
          };
          variables[<%= index %>].chart = new google.visualization.ColumnChart(document.getElementById("columnchart-<%= index %>"));
          variables[<%= index %>].chart.draw(variables[<%= index %>].view, variables[<%= index %>].options);
        }
      </script>
    <% } %>
  </body>
  <footer role="footer">
    <div class="footer-body">
      <div class="v-con">
        <ul>
          <li class="about flex-2">
            <h3>
              <img
                class="footer-brand"
                src="/assets/brand/fetch-logo.png"
                alt=""
              />
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
              aspernatur eaque laborum voluptatibus amet. adipisicing elit.
            </p>
          </li>
          <li class="flex">
            <h3>Github</h3>
            <a class="contact-link" href="">Alejandro</a>
            <a class="contact-link" href="">Clarance</a>
            <a class="contact-link" href="">Seth</a>
          </li>
          <li class="flex">
            <h3>LikedIn</h3>
            <a class="contact-link" href="">Alejandro</a>
            <a class="contact-link" href="">Clarance</a>
            <a class="contact-link" href="">Seth</a>
          </li>
          <li class="flex">
            <h3>Getting Started</h3>
            <a class="contact-link" href="">Support</a>
            <a class="contact-link" href="">How to!</a>
            <a class="contact-link" href="">Doc</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</html>
